
article {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 100px;
}

footer {
	z-index: 2;
}



/*--------------------------------------------------*/
/*FONTS*/
.ueberschrift {
	font-size: 3.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

.ueberschrift2 {
	font-size: 2.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

.ueberschrift3 {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

ul.list{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	text-align: center;
  list-style-position: inside;
	margin: 0 auto;
  padding-left: 0;
}


/*--------------------------------------------------*/
/*ALIGNMENT*/
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}

/*--------------------------------------------------*/
/*BOXES*/
.sectitel{
	display:flex;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	padding-top: 80px;
	color: white;
	width: 100%;
	justify-content: center;
	text-align: center;
}

.secnavigator{
	font-family: 'Lato', sans-serif;
	font-size: 1.2rem;
	color: #FFFFFF;
	padding-left: 15px;
}

.align{
	display: flex;
	flex-direction: row;
}

.secnav{
	display:flex;
	width: 20%;
	height: 100%;
	flex-direction: column;
	position: fixed;
}

.inhalt{
	display:flex;
	flex-basis: 80%;
	margin-left: 20%;
	padding-left: 20px;
	border-left: 1px solid white;
}
