
article {
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 100px;

}

/*--------------------------------------------------*/
/*FONTS*/
.ueberschrift {
	font-size: 3.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

.ueberschrift2 {
	font-size: 2.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

.ueberschrift3 {
	font-size: 1.5rem;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	text-decoration: underline;
}

ul.list{
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
	text-align: center;
    list-style-position: inside;
	margin: 0 auto;
    padding-left: 0;
}

/*--------------------------------------------------*/
/*ALIGNMENT*/
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}


