
article {
	padding-left:200px;
	padding-right:200px;
}
.center {
	justify-content: center;
	align-items: center;
	text-align: center;
}

.impressum {
	font-size: 4rem;
	font-family: 'Lato', sans-serif;
}

.impressumschrift{
	font-size: 1rem;
	color: white;
	font-family: 'Lato', sans-serif;
}